body {
    margin:0%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.3em;
}

header {
    text-align:center;
    margin-top: 3vh;
}

main {
    margin-left: 22vw;
    margin-right: 22vw;
}

h1 {
    font-size: 3em;
    text-align: center;
}

a {
    color: #215847;
    font-weight: bold;
}

main h3 {
    padding-bottom: 2vh;
    border-bottom: 1px solid;
    border-color: rgb(165, 204, 204);
}

.img-container {
    text-align: center;
    color: rgba(128, 128, 128, 0.767);
}

.focaccia {
    border-radius:5%;
    margin-bottom: 10px;
    width: 100%;
}

main ul {
    line-height: 3;
}

.featured {
    padding-left: 2vw;
    border-left: 1px solid;
    border-color: rgb(179, 117, 24);
    margin-bottom: 10vh;
}

.featured h4{
    color: rgb(179, 117, 24);
}

.logo {
    height:8vh;
    margin-bottom: 2vh;
}

.subtitle {
    text-align: center;
    background-color: rgba(218, 157, 88, 0.192);
    border-top: solid 1px;
    border-color: rgb(218, 157, 88);
    color: #215847;
}

.subtitle p {
    padding-bottom: 1vh;
}


