@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.jumbotron {
  background-color: #640fc5;
}

.bg-nav {
  background-color: #e496ca;
}

.first {
  background-color: #0e6cff;
  border-radius: 15px;
  border: none;
}

.second {
  background-color: #ff8700;
  border-radius: 15px;
  border: none;
}

.third {
  background-color: #4caf50;
  border-radius: 15px;
  border: none;
}

.font-2em {
  font-size: 2em;
}

.font-3em {
  font-size: 3em;
}

.font-4em {
  font-size: 4em;
}

.font-5em {
  font-size: 5em;
}

.font-6em {
  font-size: 6em;
}

.title {
  letter-spacing: 1.2;
  font-family: "Merriweather", serif;
  color: #f4f4f4;
}

.par {
  font-family: "Roboto", sans-serif;
  color: #f4f4f4;
}

header {
  text-align: center;
}

nav img {
  height: 5rem;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}

header {
  border-radius: 20px;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.53);
  border: none;
}

.p-1em {
  padding: 1em;
}

.pr-1em {
  padding-right: 1em;
}

.pl-1em {
  padding-left: 1em;
}

.pt-1em {
  padding-top: 1em;
}

.pb-1em {
  padding-bottom: 1em;
}

.p-2em {
  padding: 2em;
}

.pr-2em {
  padding-right: 2em;
}

.pl-2em {
  padding-left: 2em;
}

.pt-2em {
  padding-top: 2em;
}

.pb-2em {
  padding-bottom: 2em;
}

.p-3em {
  padding: 3em;
}

.pr-3em {
  padding-right: 3em;
}

.pl-3em {
  padding-left: 3em;
}

.pt-3em {
  padding-top: 3em;
}

.pb-3em {
  padding-bottom: 3em;
}

.p-4em {
  padding: 4em;
}

.pr-4em {
  padding-right: 4em;
}

.pl-4em {
  padding-left: 4em;
}

.pt-4em {
  padding-top: 4em;
}

.pb-4em {
  padding-bottom: 4em;
}

.p-5em {
  padding: 5em;
}

.pr-5em {
  padding-right: 5em;
}

.pl-5em {
  padding-left: 5em;
}

.pt-5em {
  padding-top: 5em;
}

.pb-5em {
  padding-bottom: 5em;
}

.p-6em {
  padding: 6em;
}

.pr-6em {
  padding-right: 6em;
}

.pl-6em {
  padding-left: 6em;
}

.pt-6em {
  padding-top: 6em;
}

.pb-6em {
  padding-bottom: 6em;
}

.m-1em {
  margin: 1em;
}

.mr-1em {
  margin-right: 1em;
}

.ml-1em {
  margin-left: 1em;
}

.mt-1em {
  margin-top: 1em;
}

.mb-1em {
  margin-bottom: 1em;
}

.m-2em {
  margin: 2em;
}

.mr-2em {
  margin-right: 2em;
}

.ml-2em {
  margin-left: 2em;
}

.mt-2em {
  margin-top: 2em;
}

.mb-2em {
  margin-bottom: 2em;
}

.m-3em {
  margin: 3em;
}

.mr-3em {
  margin-right: 3em;
}

.ml-3em {
  margin-left: 3em;
}

.mt-3em {
  margin-top: 3em;
}

.mb-3em {
  margin-bottom: 3em;
}

.m-4em {
  margin: 4em;
}

.mr-4em {
  margin-right: 4em;
}

.ml-4em {
  margin-left: 4em;
}

.mt-4em {
  margin-top: 4em;
}

.mb-4em {
  margin-bottom: 4em;
}

.m-5em {
  margin: 5em;
}

.mr-5em {
  margin-right: 5em;
}

.ml-5em {
  margin-left: 5em;
}

.mt-5em {
  margin-top: 5em;
}

.mb-5em {
  margin-bottom: 5em;
}

.m-6em {
  margin: 6em;
}

.mr-6em {
  margin-right: 6em;
}

.ml-6em {
  margin-left: 6em;
}

.mt-6em {
  margin-top: 6em;
}

.mb-6em {
  margin-bottom: 6em;
}/*# sourceMappingURL=style.css.map */