<div>
  <h1>Cosa ho già fatto</h1>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <table>
    <tr *ngFor="let todo of completedTodos">
      <td id="body-td">{{ todo.body }}</td>
      <td id="button-td">
        <button id="cancel-btn" (click)="delete(todo.id)">
          <i class="bi bi-x-circle"></i>
        </button>
        <button id="cancel-btn" (click)="uncheckTodo(todo.id)">
          <i class="bi bi-arrow-left-circle"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
