<app-form> </app-form>
<div>
  <h1>Cosa resta da fare...</h1>
  <app-loading-spinner *ngIf="loading"></app-loading-spinner>
  <div id="img1" class="img" *ngIf="loading"></div>
  <table>
    <tr *ngFor="let todo of homeTodos">
      <td id="body-td">{{ todo.body }}</td>
      <td id="button-td">
        <button id="cancel-btn" (click)="delete(todo.id)">
          <i class="bi bi-x-circle"></i>
        </button>
        <button id="cancel-btn" (click)="checkTodo(todo.id)">
          <i class="bi bi-check-circle"></i>
        </button>
      </td>
    </tr>
  </table>
</div>
