/* IMPOSTAZIONI GENERALI */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/sfondo.png);
    background-size: cover;
    background-attachment: fixed;
}

/* HEADER */

#main-header {
    margin: 20px;
    background-image: linear-gradient(1deg, #054e64, #59a7a3);
    text-align: center;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
}

#main-header h1 {
    color: white;
    font-weight: 800;
    margin-bottom: 10px;
}

#main-logo {
    height: 80px;
    margin-bottom: 30px;
}

#main-menu {
    margin-top: 20px;
    line-height: 1.8;
}

#main-menu ul {
    list-style: none;
  }

#main-menu ul li a{
    color: white;
    font-weight: 600;
    text-decoration: none;
}

/* MAIN */

main {
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.445);
}

/* ELEMENTI NEL MAIN - ARTICLE */

main article h2 {
    font-weight: 700;
    font-size: 1.8em;
    padding-top:50px;
    line-height: 1.5;
}

main article {
    padding: 20px;
}

.subtitle {
    color: grey;
    margin-top: 20px;
    margin-bottom: 22px;
}

main article p {
    line-height: 1.2;
    margin-bottom: 20px;
}

main article span {
    color: rgb(114, 5, 59);
    font-weight: bold;
}

main article a{
    color:rgb(15, 128, 128);
    font-weight: bold;
}

main article ul {
    margin-bottom:20px;
    padding-left:30px;
}

main article ol {
    margin-bottom:20px;
    padding-left:30px;
}

.video-player {
    text-align: center;
}

/* TABELLE */

main article table {
    margin-bottom: 20px;
}

.table {
    border-bottom: solid 1px rgb(0, 89, 255);
}

table caption{
    font-style: italic;
    font-weight: bold;
    margin-bottom: 5px;
}

.table th {
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.171);
    background-color: rgba(0, 89, 255, 0.767) ;
    color: white;
}

.table td {
    padding: 10px;
    text-align: center;
}

.table tr:nth-last-child(even){
    background-color: rgba(197, 197, 197, 0.295);
}

/* FORM */

.newsletter-box form button {
    background-color:rgba(0, 89, 255, 0.767) ;
    color: white;
    border:none;
}

/* ELEMENTI NELL' ASIDE */

.newsletter-box {
    background-color: rgba(197, 197, 197, 0.781);
    margin: 20px;
    padding: 20px;
}

.newsletter-box h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.newsletter-box p{
    line-height: 1.5;
    margin-bottom: 15px;
}

aside h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.related {
    background-color: rgba(197, 197, 197, 0.781);
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    margin-bottom: 20px;
}

.related a{
    color:rgb(15, 128, 128);
    font-weight: bold;
}

.related p{
    margin-top:10px;
    margin-bottom: 10px;
}

.related .date{
    margin-top: 30px;
    text-align: right;
}




/* FOOTER */

footer {
    background-image: linear-gradient(1deg, #054e64, #036863);
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding:20px;
    color: white;
}

.copyright {
    margin-bottom:20px;
}

footer p{
    text-align: center;
}

footer a {
    color: rgb(177, 55, 177);
    font-weight: bolder;
}
