body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    background-color: #FBF7E3;
    border-radius: 50px;
    padding: 20px;
}

.nav-bar img {
    width: 70px;
    margin-right: 30px;
}

#shop-btn {
    border-radius: 30px;
    padding: 20px 50px;
    text-transform: uppercase;
    color: #7E4A1F;
    font-weight: bold;
    font-size: 2em;
    display: flex;
    align-items: center;
    border: none;
    background-color: #F3DF85;
    margin: 0 auto;
}

.nav-bar ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-between;
}

.nav-bar ul li {
    background-color:  #F3DF85;
    font-size:1.6em;
    padding: 10px 30px;
    color:#7E4A1F;
    border-radius: 30px;
    margin: 10px 0;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    body {
        margin: 0;
    }

    .nav-bar {
        border-radius: 0;
    }

    .nav-bar ul {
        flex-wrap: nowrap;
    }

    .nav-bar ul li {
        text-align: center;
        margin-right: 20px;
        display:flex;
        align-items: center;
    }
}

h1 {
    color:#7E4A1F;
    text-align: center;
    font-size: 3em;
    margin-top: 60px;
    margin-bottom: 60px;
}

.card {
    color:#7E4A1F;
    background-color: #FBF7E3;
    text-align: center;
    width: 483px;
    border-radius: 40px;
    margin-bottom: 30px;
}

.card img {
    width:483px;
    border-radius: 40px 40px 0 0;
}

.card button {
    color:#7E4A1F;
}

.card-content {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.card-content .card-txt h3, p {
    margin-bottom: 0;
    margin-top: 0.4em;
}

.card-content .price {
    font-size: 1.5em;
}

.card button {
    background-color:  #F3DF85;
    font-size: 1.4em;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    padding: 10px 40px;
    font-weight: bold;
}

@media screen and (min-width: 768px) {

    .card {
        margin: 10px;
        width: 45%;
        display:inline-block;
    }

    .card img {
        width: 100%;
    }
}

h2 {
    color:#7E4A1F;
    text-align: center;
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 40px;
}

.article {
    background-color: #FBF7E3;
    padding: 20px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #6F381B;
    line-height: 1.4;
}

.article h2 {
    font-size: 2em;
}

.article-img {   
    margin-top: 40px; 
    background-image: url(../imgs/honey.jpg);
    background-size: cover;
    height: 300px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .article {
        display: flex;
        flex-direction: row-reverse;
        padding: 5px 20px;
    }

    .article-img {
        width: 100%;
        margin-top: 10px;
        margin-right: 30px;
    }
}