/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    padding: 10px;
}

#testoAlternato {
    border: 2px solid #A1A1A1;
    padding: 10px;
    font-size: 2em;
}

.parole {
    color: #6C889C;
}

.parole i {
    position: absolute;
    right: 1300px;
}

@keyframes showText {
    0% {
        opacity: 0;
        transform: translateX(0) translateY(-200%)
    }

    15% {
        opacity:1;
        transform: translateX(0) translateY(-200%);
    }

    50% {
        opacity:1;
    }

    90% {
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}

#first {
    opacity: 0;
    animation: showText 3s ease 0s infinite;
}

#second {
    opacity: 0;
}

#third {
    opacity: 0;
}

