/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    padding: 10px;
}

#testoAlternato {
    border: 2px solid #A1A1A1;
    padding: 10px;
    font-size: 2em;
}

.parole {
    color: #6C889C;
}

.parole i {
    position: absolute;
    right: 1350px;
}

@keyframes showFirst {
    0% {
        opacity: 0;
        transform: translateY(-200%)
    }

    15% {
        opacity:0;
        transform: translateY(-200%);
    }

    60% {
        opacity:0;
    }

    90% {
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showSecond {
    0% {
        opacity: 0;
        transform: translateY(-200%)
    }

    15% {
        opacity:0;
        transform: translateY(-200%);
    }

    60% {
        opacity:0;
    }

    90% {
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes showThird {
    0% {
        opacity: 0;
        transform: translateY(-200%)
    }

    15% {
        opacity:0;
        transform: translateY(-200%);
    }

    60% {
        opacity:0;
    }

    90% {
        opacity:1;
    }

    100% {
        opacity: 0;
    }
}

#first {
    opacity: 0;
    animation: showFirst 4s linear 1s infinite;
}

#second {
    opacity: 0;
    animation: showSecond 4s linear 4s infinite;
}

#third {
    opacity: 0;
    animation: showThird 4s linear 6s infinite;
}

