<div class="container">
  <h2 class="text-center my-5">Reactive form hero</h2>
  <form [formGroup]="form">
    <div formGroupName="authData" class="form-row row justify-content-center">
      <div class="form-group col-6">
        <input
          type="text"
          class="form-control"
          placeholder="Nome"
          cormControlName="name"
        />
        <input
          type="text"
          class="form-control"
          placeholder="Alter Ego"
          cormControlName="alterego"
        />

        <button [disabled]="form.invalid" class="btn btn-success">Invia</button>
      </div>
    </div>
  </form>
</div>
