/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

/* impostazioni generiche*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2rem;
    color: #393d41;
    line-height: 1.5;
    text-align: center;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #25a2c3;
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    color: #25a2c3;
}

/* stili dell'header */

#logo-container {
    background-color: black;
    padding: 20px;
}

#logo-container img {
    width: 40%;
    height: auto;
}


#header-container {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding:30px;
}

#header-container p {
    margin-bottom:20px;
    margin-top:20px;
}

#header-container button {
    font-family: 'Montserrat', sans-serif;
    background-color: #f04c2f;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom:10px;
    border-radius: 5px;
    border:none;
    color: white;
}

/* stili del main */

main {
    padding-top:40px;
    padding-bottom:40px;
}

.main-content {
    margin-bottom:30px;
    padding: 30px;
}

.rounded-img {
    border-radius:100%;
    width:60%;
    height:auto;
}

.evidence-box {
    background-color: #e22d0e;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cit {
   font-style: italic;
   margin-bottom: 30px;
}

/* stili dell'aside */

aside {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

aside article {
    width:90%;
    border: 1px solid rgba(182, 182, 127, 0.37);
    border-radius: 0% 0% 10px 10px;
    margin-bottom: 40px;
}

aside article h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

aside article p {
    margin-bottom: 40px;
}

aside article img {
    width:100%;
}

/* stili del footer */

footer {
    background-color: #25a2c3;
    color: white;
}

footer a {
    color: white;
}

footer hr {
    width: 40%;
}